* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-size: 1.1em;
    text-align: center;
}

.holy-grail header {
    padding: 0 20px;
}

.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 20px;
}

.holy-grail {
    min-height: 100vh;
}

.holy-grail, .holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}